$text-primary-color: #ED4B00;
$text-secondary-color: #fff;
$item-primary-color: #fff;
$item-secondary-color: #ED4B00;

@mixin flex-box($direction, $justifyContent, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    gap: $gap;
    flex-wrap: wrap;
}

@mixin responsive-design($max-width) {
    @media (max-width: $max-width) {
        @content;
    }
}