@import '_variableAndMixin';

.shopping_cart {
    width: 100%;
    padding: 30px 0;

    @include responsive-design(750px) {
        background-color: $item-secondary-color;
    }
}

.cart_item {
    width: 60%;
    margin: 0 auto;
    display: flex;
    background-color: $item-primary-color;
    color: $text-primary-color;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 0;
    padding: 15px;
    gap: 20px;
    position: relative;

    @include responsive-design(850px) {
        width: 95%;
    }

    &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    img {
        max-width: 180px;

        @include responsive-design(850px) {
            width: 120px;
        }
    }

    h3 {
        font-size: 25px;

        @include responsive-design(850px) {
            font-size: 19px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 600;
        color: #6D6D6D;

        @include responsive-design(850px) {
            font-size: 16px;
        }
    }

    span {
        @include responsive-design(850px) {
            font-size: 15px;
        }
    }

    .price {
        font-size: 22px;
        margin-left: 30px;

        @include responsive-design(850px) {
            font-size: 19px;
        }
    }

    .qty {
        position: absolute;
        top: -10px;
    }

    .qty_btn {
        display: flex;
        position: absolute;
        right: 10px;
        gap: 10px;
        font-size: 25px;

        @include responsive-design(850px) {
            font-size: 19px;
        }
    }

    .starters {
        @include responsive-design(952px) {
            width: 100%;
            padding-left: 0;
        }

        width: 45%;
        color: #474747;
        padding-left: 10px;
    }
}