@import '_variableAndMixin';

.root {
    width: 100%;
    margin-top: 20px;


    .meal_list_img {
        width: 100%;
        border-radius: 10px;

        @include responsive-design(700px) {
            border-radius: 0;
        }
    }
}

.meal_list {
    @include flex-box(row, space-between, 1rem);
    margin-top: 20px;
    padding-bottom: 40px;

    @include responsive-design(700px) {
        justify-content: center;
    }
}

.meal_card {
    width: 49%;
    background-color: $item-primary-color;
    color: $text-primary-color;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    gap: 20px;

    @include responsive-design(850px) {
        width: 98%;
    }

    img {
        max-width: 180px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
        font-weight: 600;
        color: #6D6D6D;
    }

    .price {
        font-size: 22px;
        margin-left: 40px;
    }
}